.todo-list {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.todo-list form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-list input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
}

.todo-list button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.todo-lists {
    display: flex;
}

.todo-column,
.done-column {
    flex-grow: 1;
    padding: 20px;
    border: solid 1px black;
    width: 35vw;
    justify-content: space-around;
}

.liste{
    list-style-type: none;
}

h3{
    text-align: center;
    color: darkblue;
    font-family: "Roboto Thin";
    font-size: 20px;
}

h1{
    text-align: center;
    color: darkblue;
    font-family: "Roboto Thin";
    font-style: italic;
}

body{
    background-color: #d1dee1;
}

.title{
    border: solid 1px black;
    padding: 0;
    margin: -5px;
}