.todo-list {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 75px;
  background: #e5e1ab;
  box-shadow: 5px 5px 22px #b0b0b0, -5px -5px 22px #ffffff;
  height: 70vh;
}

.todo-list form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-list input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
}

.todo-list button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: lightblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.todo-lists {
  display: flex;
}

.todo-column,
.done-column {
  flex-grow: 1;
  padding: 20px;
  width: 35vw;
  justify-content: space-around;
  max-height: 200px;
}

.todo-column {
  background-color: #96caf7;
  border-radius: 15px;
}

.done-column {
  background-color: #f8a3a8;
  border-radius: 15px;
}
.liste {
  list-style-type: none;
}

.scroll {
  height: 25vh;
  width: 30vw;
  overflow-y: auto;
  scroll-behavior: auto;
}
h3 {
  text-align: center;
  color: darkblue;
  font-family: "Roboto Thin";
  font-size: 20px;
}

h1 {
  text-align: center;
  color: darkblue;
  font-family: "Roboto Thin";
  font-style: italic;
}

body {
  margin-top: 10vh;
  margin-bottom: 10vh;
  background-color: #f7f7f7;
}

.title {
  padding: 0;
  margin: -5px;
}

ul li {
  border: solid 5px #ffffff;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 300px;
  min-height: 5vh;
  max-height: 5vh;
  word-wrap: break-word;
  overflow-y: auto;
}

span {
  margin-left: 5px;
}
